#########################################################
### Entries specific to log-processing, not covered   ###
### by the .gitignore at the root of this repository. ###
#########################################################

# All files inside any exec_info directory used for logging, but
# not the directory itself.
**/exec_info/**
!**/exec_info/.gitkeep
!**/exec_info/README.md

# All files inside any directory holding regenerable,
# pip-installed packages but not the directory itself.
**/reqs/**
!**/reqs/.gitkeep
!**/reqs/README.md
