[ProcessSpecificSettings]
PROC_NAME=globus-downloads-to-JSON
NODE_LOG_DIR_LIST=['dtn03','dtn02','app001']
SLACK_NOTIFICATION_CHANNEL=log-processing
SLACK_BAD_NEWS_EMOJI=:bangbang:
SLACK_GOOD_NEWS_EMOJI=:white_check_mark:
SLACK_NEUTRAL_INFO_EMOJI=:bell:
SLACK_NOTIFICATIONS=ENABLED
SLACK_USER_ID_MENTIONS_ON_ERROR={}
SLACK_USER_ID_MENTIONS_ON_SUCCESS={}
