GATEWAY_LOG_DIR='/hive/hubmap/data/gateway-logs'
GATEWAY_LOG_PATTERN='uwsgi-hubmap-auth\.log-(\d{8})\.gz'
USAGE_OUTPUT_DIR='./output'
USAGE_LAST_MTIME_PATH='./last_processed_mtime.json'
AWS_ACCESS_KEY_ID=''
AWS_SECRET_ACCESS_KEY=''
AWS_REGION_NAME='us-east-1'
AWS_S3_BUCKET_NAME='logged-info-indexing'
AWS_S3_FOLDER_NAME='api_usage'
AWS_S3_DELIM='/'